{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - Change Email Address{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Change Your Information</h1>
    </div>
    <div class="col-md-4">
        <form class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {{ wtf.form_field(form.tel, placeholder=tel) }}
            {{ wtf.form_field(form.bank_account, placeholder=bank_account) }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
{% endblock %}
