{% extends "goods/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - Update one good{% endblock %}

{% block main_div_content %}
    {{ super() }}
    <h1 class="page-header">Update a item</h1>
    <div class="col-md-4">
        <form class="form" method="post" role="form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {{ wtf.form_field(form.name, value=good.name) }}
            {{ wtf.form_field(form.text, value=good.text) }}
            {{ wtf.form_field(form.amount, value=good.amount) }}
            {{ wtf.form_field(form.price, value=good.price) }}
            {{ wtf.form_field(form.photo) }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
{% endblock %}
